/* ==========
Import
========== */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* ==========
root
========== */
:root {
    --background-color: #ffffff;
    --background-color-600: #f3f6ef;
    --color-white: #ffffff;
    --color-black: #000000;
    --text-color: #1a1b18;

}

/* ==========
Init
========== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.6px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.text-small {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 500;
    color: #606459;
    letter-spacing: 2px;
}

.text-medium {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    letter-spacing: 0.6px;
}

.description {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--text-color);
    font-weight: 400;
    letter-spacing: 0.6px;
    font-style: normal;
    text-transform: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: #56614e;
    padding: 13px 50px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #424a3c;
}


.dark-bg {
    --text-color: #ffffff
}

/* ==========
Layout
========== */

/* Sider */
.slider {
    width: 100%;
    position: relative;
}

.slides {
    overflow: auto hidden;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
}

.slides>* {
    scroll-snap-align: start;
}

.slider-controller {
    width: 100%;
}

.slider-indicator {
    position: relative;
    width: 100%;
    height: 2px;
    margin-top: 20px;
    background-color: #e4e4e4;
}

.slider-progress {
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    width: 0%;
    background-color: var(--color-black);
    transition: width 0.35s ease-in-out;
}

.slider-nav-left {
    position: absolute;
    top: 50%;
    left: 24px;
    right: auto;
    transform: translateY(-50%);
    z-index: 1000;
    opacity: 0;
    transition: opacity cubic-bezier(.645, .045, .355, 1);
}

.slider-nav-right {
    position: absolute;
    top: 50%;
    right: 24px;
    left: auto;
    transform: translateY(-50%);
    z-index: 1000;
    opacity: 0;
    transition: opacity cubic-bezier(.645, .045, .355, 1);
}

.slider-nav-left button.disabled,
.slider-nav-right button.disabled {
    opacity: .5;
    pointer-events: none;
    cursor: not-allowed;
}


.slider-nav-right>button,
.slider-nav-left>button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 2px 10px #00000026;
    background-color: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
}

.slider-nav-left svg,
.slider-nav-right svg {
    width: 20px;
    height: 20px;
}

.slider-pagination-wrapper{
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1000;
    left: 50%;
    bottom: 14px;
    transform: translate(-50%);
    padding: 4px 0;
}

.slider-pagination{
    height: 6px;
    width: 6px;
    border-radius: 8px;
    background-color: #e4e4e4;
    margin: 0 4px;
    transition: all .25s ease-in;
}

.slider-pagination.active{
    width: 24px;
    background-color: #505050;
}


.slider:hover .slider-nav-left,
.slider:hover .slider-nav-right {
    opacity: 1;
}

/* Tab */
.tab-wrapper {
    width: 100%;
}

.tab-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.tab-item {
    border: 1px solid #dddfdb;
    border-left: 0px solid #dddfdb;
    border-right: 0px solid #dddfdb;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1vmax 1vmax 0;
    margin-top: -1px;
}

.tab-item.active {
    padding: 1vmax 1vmax .5vmax;
}


.tab-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1vmax;
    cursor: pointer;
}

.tab-title__text {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.tab-title__open,
.tab-title__close {
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-title__close {
    display: none;
}


.tab-content__text {
    font-size: .875rem;
    line-height: 1.5rem;
}

/* Flex Box */
.flex-box {
    width: 100%;
    display: flex;
    gap: 2vmax;
}

.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1vmax;

}

.flex-item .item-icon {
    width: 32px;
    height: 32px;
}

.flex-item .item-title {
    width: 100%;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 600;
    color: var(--text-color);
    font-family: 'Cabin', sans-serif;
}


/* Grid Box */
.grid-box {
    width: 100%;
    display: grid;
    position: relative;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Video */
.video-container{
    position: relative;
    height: fit-content;
    background: color-mix(in srgb, #0e0e0d 100%, transparent);
}

.video-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
}

.play-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.play-video__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.play-video__icon {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border-radius: 10px;
    color: color-mix(in srgb, #88967d 100%, transparent);
    background-color: color-mix(in srgb, #f3f6ef 100%, transparent);
    z-index: 3;
}
.play-video__icon>svg{
    width: 40px;
    height: 40px;
    margin-left: 3px;
}

.video-layer {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

.close-video {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border-radius: 100%;
    z-index: 100000;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-in;
}

.video-wrapper.playing .play-video{
    opacity: 0;
}

.video-wrapper.playing .video{
    opacity: 1;
    z-index: 100000;
    position: relative;
    transition:  all .3s ease-in-out .3s;
}

.video-wrapper.playing:hover .close-video{
    opacity: 1;
}
/* ==========
Section
========== */

/* Section Defaut */
.section {
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 2vmax 0;
}

.section-container {
    max-width: 1470px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: var(--color-white);
    gap: 2vmax;
}

.section-title {
    width: 100%;
    font-weight: 600;
    font-family: 'Cabin', sans-serif;
    color: var(--text-color);
}

h3.section-title {
    font-size: 2.5rem;
    line-height: 3.25rem;
}

h4.section-title {
    font-size: 1.75rem;
    line-height: 2.375rem;
}

.section .button {
    background-color: #f7dd64;
    color: var(--color-black);
}

.section .button:hover {
    background-color: #f9e792;
}



/* Main */
.main-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

/* Banner */
.banner-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.banner-content {
    height: 100%;
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1vmax;
    text-align: center;
    padding: 4vmax 2vmax;
    background-color: var(--background-color-600);
}

.banner-content>h1 {
    font-family: "Cabin", sans-serif;
    font-size: 3.75rem;
    line-height: 4rem;
    color: #0e0e0d;
    font-weight: 600;
}

.banner-content>.button {
    margin-top: 1vmax;
}

.banner-container>picture {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    align-self: stretch;
}

.banner-container>picture>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

/* Why Choose */
.why-choose .grid-box {
    grid: auto / auto-flow calc((100% /4) - (2vmax *3/4));
    gap: 2vmax;
}

.why-choose,
.before-after {
    padding: 3vmax 0 2vmax;
}

.essentails .flex-box,
.collection .flex-box {
    align-items: center;
    gap: 0;
}

.essentails .item-content {
    padding-right: 6vmax;
}

.collection .item-content {
    padding-left: 6vmax;
}

.essentails .flex-box>.flex-item,
.collection .flex-box>.flex-item,
.countdown .flex-box>.flex-item,
.product-featured .flex-box>.flex-item {
    width: 50%;
    height: fit-content;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}

.essentails .flex-box>.flex-item>.button,
.collection .flex-box>.flex-item>.button {
    margin-top: 1vmax;
}

.essentails .flex-item>picture,
.collection .flex-item>picture {
    height: 100%;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
}

.essentails .flex-item>picture>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.essentails .text-small,
.collection .text-small {
    color: #8e9385;
    font-weight: 600;
}

.bestellers,
.express {
    padding: 2vmax 0 4vmax 0;
}

.bestellers>.section-container>.flex-box>.flex-item {
    width: 100%;
    gap: 0px;
}

.besteller-list {
    grid: auto / auto-flow calc((100% / 4) - (1.5vmax * 3 / 4));
    gap: 1.5vmax;
}

.item-product {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    text-align: left;
    gap: 1vmax;
}

.item-product>.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}


.item-product>.product-img::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: color-mix(in srgb, #abb4a2 12%, transparent);
    mix-blend-mode: multiply;
    z-index: 2;

}

.item-product>.product-img>img {
    width: 100%;
    height: auto;
}

.item-product>.product-img>.img-top {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 0.5vmax 0.5vmax 0.4vmax 0.5vmax;
    z-index: 3;
}

.product-img>.img-top>.flex-box {
    width: fit-content;
    gap: 0.3vmax;
    align-items: flex-start;
}

.badge-discount,
.badge-status {
    width: fit-content;
    display: block;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    padding: 6px 10px;
    background-color: color-mix(in srgb, #dc2626 100%, transparent);
    color: var(--color-white);
}

.badge-status {
    background:
        color-mix(in srgb, #56614e 100%, transparent);
}

.item-product>.product-img>.img-bottom {
    position: absolute;
    bottom: 15px;
    right: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vmax 0.5vmax 0.4vmax 0.5vmax;
    background-color: #56614e;
    color: var(--color-white);
    padding: 13px 50px;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.25s ease;
    z-index: 5;
    cursor: pointer;
}

.item-product>.product-img>.img-bottom:hover {
    background-color: #424a3c;
}

.img-bottom>a {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.item-product:hover .img-bottom {
    transform: translateY(0);
    opacity: 1;
}

.item-product>.product-name {
    font-family: 'Cabin', sans-serif;
}

.item-product>.product-title>.text-medium {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    line-height: 1.625rem;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 12px;
}

.product-price__ragular {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.product-price__babged {
    font-size: .875rem;
    line-height: 1.5rem;
    color: #bbbeb6;
    text-decoration: line-through;
}

.item-product .product-starts {
    display: flex;
    gap: 2px;
}

.product-starts>svg {
    width: 14.5px;
    height: 14.5px;
    fill: #ffbc00;
}

/* Collection */
.collection .play-video__img{
    aspect-ratio: 4/3;
}

.collection .video{
    aspect-ratio: 4/3;
}

/* Video-bg */
.section-bg-video {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 12vmax 0;
}

.section-bg-video .section-container {
    z-index: 3;
}

.section-bg-video::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: color-mix(in srgb, #1a1b18 10%, transparent);
    mix-blend-mode: multiply;
    z-index: unset;
}

.section-bg-video .button {
    color: #1a1b18;
    background-color: var(--color-white);
    margin-top: 2vmax;
}

.section-bg-video .button:hover {
    background-color: #fefbed;
}

.video-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    z-index: -1;
}

.video-bg>video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* Countdown */
.countdown {
    background: color-mix(in srgb, #f3f6ef 100%, transparent);
}

.countdown .section-title {
    text-transform: capitalize;
}

.countdown>.section-container>.flex-box {
    justify-content: center;
    align-items: center;
    gap: 3vmax;
}

.countdown>.section-container>.flex-box>.flex-item {
    width: unset;
}


.countdown-container .countdown-item {
    width: 100%;
    flex-direction: column;
}

.countdown-container .flex-box,
.countdown-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.countdown-item {
    text-align: center;
    min-width: 100px;
    padding: 10px;
    border: 2px solid var(--color-black);
}

.countdown .link>span {
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: var(--color-black);
    text-decoration: underline;
}

span.number,
.countdown-space {
    font-size: 1.75rem;
    line-height: 2.375rem;
    font-weight: 600;
    font-family: 'Cabin', sans-serif;
    color: var(--text-color);
    letter-spacing: 0.6px;
}

.countdown-space {
    height: 100%;
    margin: 0 10px;
}

/* Prodcut featured */
.product-featured {
    padding: 4vmax 0 2vmax 0;
}

.product-featured .section-container>.flex-box {
    gap: 0;
}

.product-featured .product-slider {
    height: 100%;
    width: 49%;
    flex: 0 0 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-featured .slides {
    grid: auto / auto-flow 100%;
}

.product-featured .slide>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    object-position: center center;
    aspect-ratio: 3/4;
}

.product-featured .slider-nav-left {
    opacity: 1;
    bottom: 0;
    left: auto;
    right: 0;
    top: auto;
    transform: translateX(-50px);
}

.product-featured .slider-nav-right {
    opacity: 1;
    bottom: 0;
    left: auto;
    right: 0;
    top: auto;
    transform: none;
}

.product-featured .slider-nav-left button,
.product-featured .slider-nav-right button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 0;
    box-shadow: none;
}

.product-featured .slider-nav-left svg,
.product-featured .slider-nav-right svg {
    width: 20px;
    height: 20px;
}

.product-featured .slider-nav-left button.disabled,
.product-featured .slider-nav-right button.disabled {
    opacity: 1;
}

.product-featured .slider-nav-left button.disabled>svg,
.product-featured .slider-nav-right button.disabled>svg {
    opacity: .3;
}

.product-featured .slider-pagination-wrapper {
    display: none;
}

.product-featured .product-info {
    flex: 1 1 auto;
    width: 100%;
    align-items: flex-start;
    padding: 0 5vmax;
}

.product-info .text-small {
    letter-spacing: 1px;
}

.product-info .section-title {
    font-size: 1.75rem;
    line-height: 2.375rem;
}

.product-featured .product-feedback {
    display: flex;
    align-items: center;
    gap: 15px;
}

.product-feedback .product-starts {
    display: flex;
    align-items: center;
    gap: 2px;
}

.product-featured .product-price {
    gap: 12px;
}

.product-featured .product-price__ragular {
    font-size: 1.375rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: 'Cabin', sans-serif;
    color: #dc2626;
}

.product-featured .product-price__babged {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 600;
    font-family: 'Cabin', sans-serif;
    color: #606459;
}

.product-count-review,
.tax-shipping-policy {
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.6px;
    color: var(--text-color);
}

.tax-shipping-policy a {
    color: #606459;
    text-decoration: underline;
}

.product-metafield {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.6px;
    text-align: left;
}


.product-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 2vmax;
    gap: 1vmax;
}

.payment-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-buttons .btn-buy,
.product-buttons .btn-add {
    width: 100%;
    font-family: 'Jost', sans-serif;
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 500;
    padding: 13px 50px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.btn-add {
    color: var(--color-black);
    background-color: #f7dd64;
}

.btn-add:hover {
    color: var(--color-black);
    background-color: #f9e792;
}

.btn-buy {
    color: var(--color-white);
    background-color: #56614e;
}

.btn-buy:hover {
    color: var(--color-white);
    background-color: #424a3c;
}

.product-buttons .btn-pay {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.6px;
}

.product-inventory {
    height: fit-content;
    margin-top: 1vmax;
    align-self: stretch;
}

.inventory-label {
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #3c9342;
}

.inventory-process {
    position: relative;
    width: 100%;
    height: 4px;
    margin-top: 7px;
    background-color: #f5f5f5;
}

.inventory-process-body {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #3c9342;
}

/* Customer benefits */
.customer-benefits .slides {
    grid: auto / auto-flow calc((100% / 4) - (1.5vmax * (4 - 1)/4));
    gap: 1.5vmax;
}

.customer-benefits .flex-item {
    width: 100%;
    padding: 1vmax 1.5vmax;
    border: 1px solid #000000;
    align-items: flex-start;
    text-align: left;
}

.customer-benefits .item-icon {
    width: 30px;
    height: 30px;
}

/* Before & After */
.before-after-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.before-container {
    width: 100%;
    height: 100%;
}

.after-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.before-after-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    aspect-ratio: 21/9;
    vertical-align: middle;
}

.ratio-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.ratio-control {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: ew-resize;
    background-color: var(--color-white);
    animation: pulse-animation 1s ease-in-out 0s infinite alternate;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0px 0px 2px rgba(61, 61, 61, 0.8), 0 0 0 4px rgba(255, 255, 255, 0.15);
    }

    100% {
        box-shadow: 0px 0px 2px rgba(61, 61, 61, 0.8), 0 0 0 12px rgba(255, 255, 255, 0.3);
    }
}

.ratio-control::after {
    content: "";
    position: absolute;
    display: block;
    height: 9999px;
    width: 2px;
    left: 50%;
    bottom: 90%;
    transform: translateX(-50%);
    background-color: var(--color-white);
    z-index: 8;
}

.ratio-control::before {
    content: "";
    position: absolute;
    display: block;
    height: 9999px;
    width: 2px;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    background-color: var(--color-white);
    z-index: 8;
}

.ratio-btn {
    width: 35px;
    height: 60px;
    border-radius: 50px;
    background-color: var(--color-white);
    position: relative;
}


.ratio-btn::before {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M17 3.99998V2.0675C17 1.79136 17.2239 1.5675 17.5 1.5675C17.617 1.5675 17.7302 1.60851 17.8201 1.68339L21.9391 5.11587C22.1512 5.29266 22.1799 5.60794 22.0031 5.82008C21.9081 5.93407 21.7674 5.99998 21.619 5.99998H2V3.99998H17ZM2 18H22V20H2V18ZM2 11H22V13H2V11Z'/%3E%3C/svg%3E");
    height: 24px;
    width: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

/* Brands */

.brand-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.brand-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 28.8s;
    animation-name: marqueeLEFT-CENTER;
}

@keyframes marqueeLEFT-CENTER {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-1920px);
    }
}

.brand-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    padding: 0 25px;
}

.brand-item img {
    width: 100%;
    height: 100%;
    aspect-ratio: 21/9;
    object-fit: cover;
    object-position: 50% 50%;
}

/* Testimonials */
.testimonials-container {
    display: block;
    width: auto;
    margin: 0 15vmax;
}

.testimonial-list {
    grid: auto / auto-flow 100%;
    gap: 20px;
}

.testimonial-list>* {
    scroll-snap-align: start;
}

.testimonial-item .flex-box {
    flex-direction: column;
    gap: 2vmax;
}

.testimonial-img {
    width: 120px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}

.testimonial-img img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 50% 50%;
}

.testimonial-starts {
    display: flex;
    align-items: center;
    color: #b91c1c;
}

.testimonial-starts svg {
    width: 16px;
    height: 16px;
}

.testimonial-text {
    width: 100%;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
}

.testimonial-customer {
    width: 100%;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    font-style: italic;
}

.testimonial-controls {
    width: 100%;
}

.testimonial-controls-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.control-nav-left {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    z-index: 100000;
    opacity: 0;
    transition: opacity cubic-bezier(.645, .045, .355, 1) 0s;
}

.control-nav-right {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    z-index: 100000;
    opacity: 0;
    transition: opacity cubic-bezier(.645, .045, .355, 1) 0s;
}

.testimonials-container:hover .control-nav-left,
.testimonials-container:hover .control-nav-right {
    opacity: 1;
}

.control-nav-left button,
.control-nav-right button {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-black);
    box-shadow: 0 2px 10px #00000026;
    transition: color ease .25s;
}

/* Questions */
.questions-content {
    width: 60%;
    height: fit-content;
    flex-direction: column;
    flex: 0 0 60%;
}

.questions-content .flex-item {
    width: 100%;
    align-items: flex-start;
    text-align: left;
}

.questions-tab .tab-item {
    border-top: 0px solid #000000;
    border-left: 0px solid #000000;
    border-right: 0px solid #000000;
    border-bottom: 1px solid #d2d4ce;
    padding: 0;
}

.tab-item.active .tab-title__close {
    display: flex;
}

.tab-item.active .tab-title__open {
    display: none;
}

.questions-tab .tab-title {
    padding: 24px 0;
}

.questions-tab .tab-title__text {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.6px;
    font-weight: 600;
    color: var(--text-color);
    text-transform: none;
}

.questions-tab .tab-title__open,
.questions-tab .tab-title__close {
    width: 20px;
    height: 20px;
}

.tab-content {
    max-height: 0;
    display: block;
    overflow: hidden;
    transition: all .2s ease-out, opacity .5s ease-in-out;
}

.questions-tab .tab-content__text {
    text-align: left;
    padding-bottom: 2vmax;
}

.questions-img {
    width: 38%;
    flex: 0 0 38%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questions-img img {
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    object-position: 50% 50%;
    vertical-align: middle;
}

/* Express */
.express .text-medium {
    font-weight: 500;
    letter-spacing: 2px;
    color: #606459;
    text-transform: uppercase;
}

.express-list {
    grid: auto / auto-flow calc((100% / 5) - (2px * 4 / 5));
    gap: 2px;
}

.express-list .grid-item img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 50% 50%;
}

/* Subscibe */
.subscibe {
    background: color-mix(in srgb, #f3f6ef 100%, transparent);
    padding: 3vmax 0;
}

.subscibe .flex-box {
    gap: 1vmax;
}

.subscibe .flex-item {
    align-items: flex-start;
    text-align: left;
}

.subscibe .item-content {
    width: 58%;
    flex: 0 0 58%;
}

.text-hightlight {
    width: 100%;
    position: relative;
}

.text-hightlight>svg {
    height: 1rem;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    transform: translateY(-50%);
}

.subscibe form {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscibe .field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #56614e;
    padding: 5px;
    background-color: transparent;
}

.subscibe .field input[type="email"] {
    width: 100%;
    border: none;
    font-family: 'Jost', sans-serif;
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 12px 15px;
    letter-spacing: 0.6px;
    background-color: transparent;
    outline: none;
}

.subscibe .field input[type="submit"] {
    border: none;
    color: var(--text-color);
    font-family: 'Jost', sans-serif;
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding: 12px 15px;
    background-color: #56614e;
    color: var(--color-white);
    padding: 13px 50px;
}